@use 'src/common/scss/colours';
@use 'src/common/scss/variables';

.header {
  &-container {
    width: calc(100% - variables.$sidebar-width - 64px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    background-color: #fff;
    z-index: 90;
    &.border {
      border-bottom: 2px solid colours.$gray-200;
    }
  }

  @media (max-width: 576px) {
    &-container {
      width: calc(100% - variables.$sidebar-width-mobile - 64px);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      row-gap: 8px;
      padding-top: 16px;
    }
  }
}
