@use 'src/common/scss/colours';
@use 'src/common/scss/variables';

.header {
  &-container {
    width: calc(100% - variables.$sidebar-width - 64px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    &.border {
      border-bottom: 2px solid colours.$gray-200;
    }
  }
}
