.preview {
  &-container {
    border-radius: inherit;
    height: 394px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 18px;
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: fit;
  }

  @media (max-width: 576px) {
    &-container {
      height: 150px;
    }
  }
}
