@use 'src/common/scss/colours';

.script {
  &-container {
    background: #fff;
    border-radius: inherit;
    padding: 16px 32px;
    height: 200px;
    > textarea {
      width: 100%;
      height: calc(100% - 50px);
      resize: none;
      background-color: transparent;
      border: none;
      outline: none;
      &::placeholder {
        color: lighten(colours.$gray-300, 10);
      }
    }
  }
  &-footer {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-counter {
    font-size: 10px;
  }

  @media (max-width: 576px) {
   &-container {
     height: 150px;
     padding: 8px 16px;
   }
  }
}
