@use 'src/common/scss/colours';

.actor {
  &-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 11px;
    row-gap: 11px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;

    &-image {
      margin: 0;
      width: 100%;
      height: 84px;
      border-radius: 6px;
      border: 1px solid colours.$gray-200;
      transition: border 200ms linear;
      cursor: pointer;
      overflow: hidden;

      > img {
        width: 100%;
      }
    }

    &-title {
      margin-top: 4px;
      font-size: 12px;
    }

    &:hover > &-image,
    &.active > &-image {
      border-color: colours.$secondary;
    }

    &:hover > &-title,
    &.active > &-title {
      color: colours.$secondary;
    }
  }
}
