@use 'src/common/scss/colours';
@use 'src/common/scss/variables';

.sidebar {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: variables.$sidebar-width;
    border-right: 2px solid colours.$gray-200;
    position: fixed;
    height: calc(100vh - 80px);
    margin: 40px 0;
    top: 0;
    left: 0;
  }

  &-logo {
    width: 35px;
  }

  &-menu {
    margin-top: 64px;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 60px;
      height: 60px;
      margin-bottom: 16px;
      border-radius: 10px;
      background-color: transparent;
      transition: all 200ms ease-in-out;
      color: colours.$gray-300;

      &:hover,
      &:focus,
      &.active {
        color: colours.$secondary;
        background-color: lighten(colours.$secondary, 50);
      }
    }
  }
  @media (max-width: 576px) {
    &-container {
      width: variables.$sidebar-width-mobile;
    }
    &-menu {
      &-item {
        width: 40px;
        height: 40px;
      }
    }
  }
}
