@use 'colours';

$body-size: 15px;
$body-color: colours.$gray-300;
$body-height: 21px;

$heading-color: colours.$gray-500;
$heading-1-size: 22px;
$heading-1-line-height: 33px;

$sidebar-width: 100px;
$sidebar-width-mobile: 70px;
