@use 'colours';
@use 'variables';
@import 'normalize.css/normalize.css';
@import 'grid';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  color: variables.$body-color;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'icon';
  src: url('/src/assets/icons.woff') format('woff'), url('/src/assets/icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icon' !important;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: '\e903';
}

.icon-arrow:before {
  content: '\e902';
}

.icon-saved-videos:before {
  content: '\e900';
}

.icon-select-video:before {
  content: '\e901';
}

h1,
.h1 {
  color: variables.$heading-color;
  font-weight: 500;
  font-size: variables.$heading-1-size;
  line-height: variables.$heading-1-size;
}

a {
  text-decoration: none;
  color: colours.$secondary;
}

//FORMS
.form-group {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    font-size: 14px;
    line-height: 21px;
    color: #000;
  }

  .form-control {
    border: 1px solid colours.$gray-300;
    height: 40px;
    padding: 0 16px;
    color: colours.$gray-500;
    width: 100%;
    line-height: 20px;
    transition: border 200ms linear;
    border-radius: 6px;
    margin-top: 6px;
    font-weight: 500;

    &::placeholder {
      opacity: 0.4;
    }

    &:focus,
    &:active {
      outline: none;
      border-color: colours.$secondary;
    }
  }

  &.error {
    border-color: colours.$red;
  }
}

.form-error {
  display: block;
  color: colours.$red;
  font-size: 12px;
  position: relative;
  top: -23px;
}

//BUTTONS
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 6px 20px;
  transition: background-color 200ms ease-in-out;
  min-width: 40px;
  height: 33px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;

  &-primary {
    background-color: colours.$primary;
    color: #fff;

    &:hover {
      background-color: darken(colours.$primary, 10);
    }
  }

  &-secondary {
    background-color: colours.$secondary;
    color: #fff;

    &:hover {
      background-color: darken(colours.$secondary, 10);
    }
  }

  &-neutral {
    background-color: colours.$gray-100;
    color: colours.$gray-300;

    &:hover {
      background-color: darken(colours.$gray-100, 10);
    }
  }
}

//TABLES
.table {
  &-responsive {
    width: 100%;
    margin: 0 -8px;
  }
  thead {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: colours.$gray-400;
    opacity: 0.5;
  }
  th,
  td {
    padding: 16px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tbody {
    color: colours.$gray-500;
  }
}

//PAGE LAYOUT
.layout {
  &-page {
    display: flex;
    margin-left: variables.$sidebar-width;
    padding: 0 32px;
    width: 100%;
    height: 100vh;
    &-content {
      display: flex;
      flex: 1;
      padding-top: 132px;
    }
    @media (max-width: 576px) {
      width: auto;
    }
  }
}

//HELPER

.flex {
  display: flex;
  flex: 1;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}
