@use 'colours';
@use 'variables';
@import 'normalize.css/normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  color: variables.$body-color;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'icon';
  src: url('src/assets/icons.woff?qarst1') format('woff'), url('src/assets/icons.woff2?qarst1') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icon' !important;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saved-videos:before {
  content: '\e900';
}

.icon-select-video:before {
  content: '\e901';
}

h1,
.h1 {
  color: variables.$heading-color;
  font-weight: 500;
  font-size: variables.$heading-1-size;
  line-height: variables.$heading-1-size;
}

a {
  text-decoration: none;
  color: colours.$secondary;
}

.form-group {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    font-size: 14px;
    line-height: 21px;
    color: #000;
  }

  .form-control {
    border: 1px solid colours.$gray-300;
    height: 40px;
    padding: 0 16px;
    color: colours.$gray-500;
    width: 100%;
    line-height: 20px;
    transition: border 200ms linear;
    border-radius: 6px;
    margin-top: 6px;

    &::placeholder {
      opacity: 0.4;
    }

    &:focus,
    &:active {
      outline: none;
      border-color: colours.$secondary;
    }
  }

  &.error {
    border-color: colours.$red;
  }
}

.form-error {
  display: block;
  color: colours.$red;
  font-size: 12px;
  position: relative;
  top: -23px;
}

//BUTTONS
.button {
  display: inline-block;
  position: relative;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  transition: background-color 200ms ease-in-out;
  min-width: 40px;
  height: 33px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;

  &-fluid {
    width: 100%;
  }

  &-primary {
    background-color: colours.$primary;
    color: #fff;

    &:hover {
      background-color: darken(colours.$primary, 10);
    }
  }

  &-secondary {
    background-color: colours.$secondary;
    color: #fff;
  }
}

//Page
.page {
  &-wrapper {
    // padding: 0px 24px 24px variables.$sidebar-width;

    @media screen and (max-width: 1024px) {
      padding: 100px 30px 10px;
      .h2 {
        margin-bottom: 24px;
      }
    }
  }
}

//TABLES
.table {
  &-header {
    //color: colours.$font-color;
    padding: 14px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90%;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &-body {
    min-height: 600px;

    .table-row {
      width: 100%;
      border-radius: 5px;
      align-items: center;
      height: 64px;
      line-height: 64px;
      padding: 0 16px;

      .table-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 2px;
        position: relative;

        .featured {
          display: inline-block;
          color: colours.$secondary;
          width: 20px;
          position: relative;
          top: 1px;
        }

        &.no-overflow {
          overflow: unset;
        }
      }
    }
  }
}
