@use 'src/common/scss/colours';

.sidebar {
  &-container {
    width: 102px;
    border-right: 1px solid colours.$gray-200;
    position: fixed;
    height: calc(100vh - 80px);
    margin: 40px 0;
    padding: 16px 32px;
  }
}
