@use 'src/common/scss/colours';

.create {
  &-button-group {
    display: flex;
    column-gap: 8px;
    > .button {
    }
  }
  &-content {
    width: 740px;
    border-radius: 20px;
    background-color: colours.$gray-200;
    overflow: hidden;
    padding: 20px;
  }

  &-nav {
    width: 600px;
    margin-left: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;

    &-items {
      display: flex;
      font-weight: 500;
      column-gap: 32px;
      margin-bottom: 30px;
    }
    &-item {
      cursor: pointer;
      color: colours.$gray-300;
      transition: color 250ms ease-in-out;

      &:hover,
      &.active {
        color: colours.$secondary;
      }
    }
  }
}
