@use 'src/common/scss/colours';

.alignment {
  &-items {
    display: flex;
    column-gap: 20px;
  }
  &-item {
    display: flex;
    cursor: pointer;
    padding: 15px 50px;
    background-color: colours.$gray-100;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid colours.$gray-100;
    transition: border-color 200ms linear, background-color 200ms linear;
    &:hover,
    &.active {
      border-color: colours.$secondary;
      color: colours.$secondary;
      background-color: lighten(colours.$secondary, 50);
    }
  }
}
