@use 'src/common/scss/colours';

.auth {
  &-background {
    flex: 1;

    &:after {
      content: '';
      position: fixed;
      width: 400px;
      height: 500px;
      right: 0;
      top: 0;
      opacity: 0.2;
      background: url('src/assets/auth-image.svg') no-repeat;
      @media (max-width: 576px) {
          width: 40%;
      }
    }
  }

  &-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

  }

  &-form {
    width:400px;
    min-height: 400px;
    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
  }

  &-meta {
    display: flex;
    margin-top: 64px;
    font-size: 13px;
    color: colours.$gray-500;
    justify-content: center;
    font-weight: 500;

    > a {
      padding-left: 4px;
    }
  }
}
